<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/result" method="get">
      <h1>Calculo de Juros Simples</h1>
      <p>Insira o <b>Capital Inicial</b>(C):</p>
      <input type="text" name="c" />
      <p>Insira a <b>Taxa de Juros</b>(i):</p>
      <input type="text" name="i" />
      <p>Insira o <b>Tempo</b>(t):</p>
      <input type="text" name="t" />
      <p>Envie os valores:</p>
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
