<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Calculo de Juros Simples</h1>
    <p>O resultado foi de:</p>
    <h3><%=juros%></h3>
</body>
</html>